<%= javascript_pack_tag 'start', 'data-turbolinks-track': 'reload', defer: true %>

<div id="debt-main">
  <div class="bg-header">
    <div class="container">
      <div class="row py-md-5">
        <div class="col-xl-12 py-md-4">
            <div class="row text-center">
            <h2 >You have been declined for a loan today, this could be due to too much outstanding debt! </h2>
            <h3>Write off 90% of your debt today!</h3>
            <div>
            <ul style="list-style-position: inside;">
                <li> Take away your money worries</li>
                <li>Reduce your monthly debt repayments</li>
                <li>Remove the need for loans</li>
            </ul>
            </div>
          <!-- MultiStep Form -->
          <div class="rounded-3 bg-color-light shadow-lg w-100 px-md-4 pt-md-4">
            <script src="https://cdn101-inst47-client.phonexa.uk/form/run.php?p=C0B54777F9774C54B412F811E18C763F&public=1"></script>
          </div>
          <!-- MultiStep Form -->
          <div class="w-100 d-block d-xl-none text-center">
            <ul class="list-unstyled font-montserat text-start pt-3">
              <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
                <%= image_tag('tick.png', class: 'img-check me-2')%>
                <p class="mb-0 w-auto text-white">Write off your unsecured debts</p>
              </li>
              <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
                <%= image_tag('tick.png', class: 'img-check me-2')%>
                <p class="mb-0 w-auto text-white">Take away your money worries.</p>
              </li>
              <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
                <%= image_tag('tick.png', class: 'img-check me-2')%>
                <p class="mb-0 w-auto text-white text-start">Freeze your interest and charges from increasing</p>
              </li>
              <li class="d-flex align-items-start justify-content-lg-center justify-content-xl-start justify-content-start mb-2">
                <%= image_tag('tick.png', class: 'img-check me-2')%>
                <p class="mb-0 w-auto text-white text-start">Lower your bills to manageable monthly payments</p>
              </li>
            </ul>
            <button type="button" class="btn btn-blue px-lg-5 px-4 rounded-pill text-white font-montserat my-4">Check If You Qualify <%= image_tag('hand-point.png', class: 'img-hand ms-2')%></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= render 'layouts/footer'%>